<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <!--本地运行请注释下面三行CDN加速 Note the following three lines of CDN acceleration for local operation-->
  <!--<script src="/dist/config.js" ></script> -->
  <script src="https://cdn.bootcss.com/vue/2.5.17/vue.runtime.min.js"></script>
  <script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <title>NULS Explorer</title>
</head>
<body>
<div id="app"></div>
</body>
</html>
